/* STOP WATCH */

.stop-watch-container {
  position: relative;
  background-image: url(../../assets/stopwatch.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 250px;
  width: 250px;
  margin: auto;
  user-select: none;
}

.stop-watch-start {
  position: absolute;
  background-color: lightgreen;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -25%);
}
.stop-watch-stop {
  position: absolute;
  background-color: lightcoral;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -25%);
}

.stop-watch-current-time {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%);
  width: max-content;
}
